<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.dbpruebaConnectionString"
            connectionString="Data source=DESKTOP-259UNAH;initial catalog=dbprueba;user id=sa;password=Terrorista1.2;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>